body {
    font-family: 'Montserrat', sans-serif;
    background-color:beige;
}

.container {
    width: 1500px;
    margin: auto;
    padding: 100px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.sec1 {
    background-color: white;
}

.box1 {
    width: 40%;
    border: 1px solid;
    border-radius: 10px;
    margin: auto;
}
.box2 {
    width: 40%;
    border: 1px solid;
    border-radius: 10px;
    margin: auto;
}

.text {
    width: 53%;
    margin: auto;
    padding: -2px 10px;
}

.text1 {
    width: 80%;
    font-size: 25px;
    color: rgb(40, 10, 87);
}

.text2 {
    width: 78%;
}

.text3 {
    font-size: 25px;
    color: rgb(130, 37, 218);
}

.image{
    width: 44%;
}

.b1 {
    width: 30%;
    margin: auto;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 10px;
    background-color: white;
    padding: 40px 8px;   
}

.headline {
    padding: 20px 10px;
    font-size: 25px;
}

.subline {
    font-size: 15px;
    padding: 10px 10px;
}

.sec3 {
    background-color: darkblue;
    margin: auto;
}

.box_{
    border: 1px solid white;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    color: white;
    padding: 30px;
}

.txt_{
    width: 60%;
    margin: auto;
}

.raz {
    font-size: 30px;
    width: 71%;
    padding: 0px 40px;
}

.raz_qualities li::before {
    content:"\2713";
    color:hsla(152, 93.1%, 71.8%, 1);
}

.button {
    margin: 0px 40px;
    padding: 3px 10px;;
    border: 1px solid;
    border-radius: 5px;
    background-color:dodgerblue;
}

.sec4 {
    background-color: white;
}

.image__ {
    width: 25%;
    margin: auto;
}

.why {
    padding-top: 300px;
    width: 25%;
}

.qualities {
    width: 54%;
    margin: auto;
}

.qual {
    width: 50%;
    margin: auto;
    text-align: center;
}
